.shop-container{    
  width: 90vw;
  margin: 5%;
  height: 80vh;
  border: 2px solid black;
  font-size: x-large;
  text-align: left;
  overflow-x: hidden;
}

.title{
    margin-left: 20px;
    margin-top: 20px;
}

.product{
    border: 2px solid black;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    color: black;
}

.product-link{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

.product-img{
    max-height: 200px;
    width: auto;
}.row {
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
  }

  
.view-btn {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}